html, body {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}

.row {
    display: inline-block;
    width: 100%;
}

.bar {
    height: 3vh;
    background-color: red;
}

.radar {
    float: left;
    width: 60%;
    height: 89vh;
    background-color: black;
}

.right {
    float: left;
    width: 40%;
    height: 89vh;
}
.photo {
    height: 54vh;
    background-color: blue;
}
.table {
    height: 35vh;
    background-color: green;
}
#canvas {
    pass
}